body {
    background-color: #ff6666;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
    color: white;
}
